/GrowleriaPOS/bin/Debug/netcoreapp2.0/GrowleriaPOS.deps.json
/GrowleriaPOS/bin/Debug/netcoreapp2.0/GrowleriaPOS.dll
/GrowleriaPOS/bin/Debug/netcoreapp2.0/GrowleriaPOS.pdb
/GrowleriaPOS/bin/Debug/netcoreapp2.0/GrowleriaPOS.runtimeconfig.dev.json
/GrowleriaPOS/bin/Debug/netcoreapp2.0/GrowleriaPOS.runtimeconfig.json
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.AssemblyInfo.cs
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.AssemblyInfoInputs.cache
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.csproj.CoreCompileInputs.cache
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.csproj.FileListAbsolute.txt
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.csprojAssemblyReference.cache
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.dll
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.pdb
/GrowleriaPOS/obj/GrowleriaPOS.csproj.nuget.cache
/GrowleriaPOS/obj/GrowleriaPOS.csproj.nuget.g.props
/GrowleriaPOS/obj/GrowleriaPOS.csproj.nuget.g.targets
/GrowleriaPOS/obj/project.assets.json
/.vs/GrowleriaPOS/v15/Server/sqlite3/db.lock
/.vs/GrowleriaPOS/v15/Server/sqlite3/storage.ide
/.vs/GrowleriaPOS/v15/Server/sqlite3/storage.ide-shm
/.vs/GrowleriaPOS/v15/Server/sqlite3/storage.ide-wal
