/GrowleriaPOS/bin/Debug/netcoreapp2.0/GrowleriaPOS.deps.json
/GrowleriaPOS/bin/Debug/netcoreapp2.0/GrowleriaPOS.dll
/GrowleriaPOS/bin/Debug/netcoreapp2.0/GrowleriaPOS.pdb
/GrowleriaPOS/bin/Debug/netcoreapp2.0/GrowleriaPOS.runtimeconfig.dev.json
/GrowleriaPOS/bin/Debug/netcoreapp2.0/GrowleriaPOS.runtimeconfig.json
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.AssemblyInfo.cs
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.AssemblyInfoInputs.cache
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.csproj.CoreCompileInputs.cache
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.csproj.FileListAbsolute.txt
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.csprojAssemblyReference.cache
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.dll
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.pdb
/GrowleriaPOS/obj/GrowleriaPOS.csproj.nuget.cache
/GrowleriaPOS/obj/GrowleriaPOS.csproj.nuget.g.props
/GrowleriaPOS/obj/GrowleriaPOS.csproj.nuget.g.targets
/GrowleriaPOS/obj/project.assets.json
/.vs/GrowleriaPOS/v15/Server/sqlite3/db.lock
/.vs/GrowleriaPOS/v15/Server/sqlite3/storage.ide
/.vs/GrowleriaPOS/v15/Server/sqlite3/storage.ide-shm
/.vs/GrowleriaPOS/v15/Server/sqlite3/storage.ide-wal
GrowleriaController.deps.json
GrowleriaController.dll
GrowleriaController.pdb
GrowleriaController.AssemblyInfo.cs
GrowleriaController.AssemblyInfoInputs.cache
GrowleriaController.csproj.CoreCompileInputs.cache
GrowleriaController.csproj.FileListAbsolute.txt
GrowleriaController.csprojAssemblyReference.cache
GrowleriaController.csproj.nuget.cache
GrowleriaController.csproj.nuget.g.props
GrowleriaController.csproj.nuget.g.targets
project.assets.json
/.vs/GrowleriaPOS/DesignTimeBuild/.dtbcache
/GrowleriaPOS/bin/Debug/netcoreapp2.0/Microsoft.PointOfService.dll
/GrowleriaPOS/bin/Debug/netcoreapp2.0/Microsoft.PointOfService.xml
/GrowleriaPOS/bin/Debug/netcoreapp2.1/GrowleriaPOS.deps.json
/GrowleriaPOS/bin/Debug/netcoreapp2.1/GrowleriaPOS.dll
/GrowleriaPOS/bin/Debug/netcoreapp2.1/GrowleriaPOS.pdb
/GrowleriaPOS/bin/Debug/netcoreapp2.1/Microsoft.PointOfService.dll
/GrowleriaPOS/bin/Debug/netcoreapp2.1/Microsoft.PointOfService.xml
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.assets.cache
/GrowleriaPOS/obj/Debug/netcoreapp2.0/GrowleriaPOS.csproj.CopyComplete
/GrowleriaPOS/obj/Debug/netcoreapp2.1/GrowleriaPOS.AssemblyInfo.cs
/GrowleriaPOS/obj/Debug/netcoreapp2.1/GrowleriaPOS.AssemblyInfoInputs.cache
/GrowleriaPOS/obj/Debug/netcoreapp2.1/GrowleriaPOS.assets.cache
/GrowleriaPOS/obj/Debug/netcoreapp2.1/GrowleriaPOS.csproj.CopyComplete
/GrowleriaPOS/obj/Debug/netcoreapp2.1/GrowleriaPOS.csproj.CoreCompileInputs.cache
/GrowleriaPOS/obj/Debug/netcoreapp2.1/GrowleriaPOS.csproj.FileListAbsolute.txt
/GrowleriaPOS/obj/Debug/netcoreapp2.1/GrowleriaPOS.csprojAssemblyReference.cache
/GrowleriaPOS/obj/Debug/netcoreapp2.1/GrowleriaPOS.dll
/GrowleriaPOS/obj/Debug/netcoreapp2.1/GrowleriaPOS.pdb
/GrowleriaPOS/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GrowleriaPOS/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GrowleriaPOS/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GrowleriaController/bin/Debug/netcoreapp2.0/Microsoft.PointOfService.dll
/GrowleriaController/bin/Debug/netcoreapp2.0/Microsoft.PointOfService.xml
/GrowleriaController/bin/Debug/netcoreapp2.1/Microsoft.PointOfService.dll
/GrowleriaController/bin/Debug/netcoreapp2.1/Microsoft.PointOfService.xml
/GrowleriaController/obj/Debug/netcoreapp2.0/GrowleriaController.assets.cache
/GrowleriaController/obj/Debug/netcoreapp2.0/GrowleriaController.csproj.CopyComplete
/GrowleriaController/obj/Debug/netcoreapp2.1/GrowleriaController.assets.cache
/GrowleriaController/obj/Debug/netcoreapp2.1/GrowleriaController.csproj.CopyComplete
/GrowleriaController/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GrowleriaController/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GrowleriaController/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/.vs/config/applicationhost.config
obj
bin
/packages

.vs/GrowleriaPOS/DesignTimeBuild/.dtbcache.v2
